---
- name: Join ZeroTier network
  command: /usr/sbin/zerotier-cli join "{{ zerotier_network_id }}"
  args:
    creates: /var/lib/zerotier-one/networks.d/"{{ zerotier_network_id }}".local.conf
  tags:
    - zerotier
    - network
  notify: restart_zerotier-one