---

- include_tasks: docker.yml
  when: zerotier_install_type['docker']

- include_vars: ansible_facts['os_family'].yml

- include: debian.yml
  when: ansible_os_family == "Debian"

- include_tasks: redhat.yml
  when: ansible_os_family == "RedHat"

- include_tasks: configure.yml
  when: zerotier_install_type['shell']